<!DOCTYPE HTML>
<html lang="tm" charset="utf-8">
<head>
<title>This is home page</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
</head>
<body>
<div id="container">
 <form role="form" class="form-horizontal" method="POST" action="">
  	<div class="form-group">
    	<input type="radio" name="encodings" class="form-control" value="லிபி" >லிபி
    	<input type="radio" name="encodings" class="form-control" value="Agaram">Agaram
    	<input type="radio" name="encodings" class="form-control" value="Igaram">Igaram
    	<input type="radio" name="encodings" class="form-control" value="Anjal">Anjal
    	<input type="radio" name="encodings" class="form-control" value="Bamini">Bamini
    	<input type="radio" name="encodings" class="form-control" value="Dinakaran">Dinakaran
    	<input type="radio" name="encodings" class="form-control" value="Diacritic">Diacritic
  	</div>
  	<div class="form-group">
    	<textarea class="form-control" rows="3"  name="mytext" placeholder="Enter or copy text here"></textarea>
  	</div>
 	<div class="form-group">
    	<label for="exampleInputFile">File input</label>
    	<input type="file" id="exampleInputFile">
    	<p class="help-block">Example block-level help text here.</p>
  	</div>
  	<div class="checkbox">
    	<label>
      		<input type="checkbox"> Check me out
    	</label>
  	</div>
  	<button type="submit" class="btn btn-default">Submit</button>
 </form>
</div>		
</body>
</html>