<!DOCTYPE HTML>
<html lang="tm" charset='utf-8'>
<head>
<title>This is home page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="../static/js/jquery.js"> </script>
<script type="text/javascript" src="../static/js/bootstrap.js"> </script>
<link rel="stylesheet" type="text/css" href="../static/css/base.css">
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
<script type="text/javascript">
   $(document).ready(function(){ 
       $("#myTab a").click(function(e)
       {
           e.preventDefault();
           $(this).tab('show');
        });
       $("#myform").submit(function(e)
        {
           e.preventDefault();
           checkandsend();
       });
       $("#myengform").submit(function(e)
        {
           e.preventDefault();
           checkandsend();
       });
    });
   function checkandsend()
{
     
    var langVal = $(".active li a ").text();
    window.alert(langVal);

     var selectedVal = "";
     var mytext = "";
     var selected = $("input[type='radio']:checked");
     if (selected.length > 0) 
      {
        selectedVal = selected.val();
       }
     mytext = $("#mytext").val();
     console.log(selectedVal);
     console.log(mytext);
     if(selectedVal == "")
     {
        window.alert("Please select encodings type");
     }
     if(mytext == "")
     {
        
        window.alert("Please Enter your input text");
     }
      else
      {
        $.getJSON("/convert",{'encodings': selectedVal,'mytext':mytext}, function(data)
        {
          window.console.log("***************************");
          window.console.log(data.result_unicode);
          $("#result").val(data.result_unicode);
          
        });
      }
}
</script>
</head>
<body>
<div  id="container">
<ul class="nav nav-tabs" role="tablist" id="myTab">
  <li role="presentation" class="active"><a href="#tamil" aria-controls="tamil" role="tab" data-toggle="tab">தமிழ்</a></li>
  <li role="presentation"><a href="#english" aria-controls="english" role="tab" data-toggle="tab">English</a></li>
  <li role="presentation"><a href="#about" aria-controls="about" role="tab" data-toggle="tab">About</a></li>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="tamil">
      <form role="form" class="form-horizontal"  id="myform">
            <div class="form-group">
                  {% for k, v in data.iteritems() %}
                    <input type="radio" name ="encodings" id="encodings" class="form-control" value="{{v}}">{{k}}
                  {% endfor %}
            </div>
            <div class="form-group">
                  <textarea rows="3"  class="textarea" id="mytext" placeholder="உங்கள் உரையை இங்கே உள்ளிடுக"></textarea>
            </div>
            <div class="form-group">
                <input type="file">
            </div>
            <div class="form-group">
              <textarea rows="3" class="textarea" id="result" placeholder="உங்கள் பதில் இங்கே செல்கிறது"></textarea>
            </div>
            <button type="submit" class="btn btn-default">ஏற்க</button>
      </form>

  </div>
  <div role="tabpanel" class="tab-pane" id="english">
      <form role="form" class="form-horizontal"  id="myengform">
            <div class="form-group">
                  {% for k, v in data.iteritems() %}
                    <input type="radio" name ="encodings" id="encodings" class="form-control" value="{{v}}">{{v}}
                  {% endfor %}
            </div>
            <div class="form-group">
                <textarea class="textarea" rows="4"  id="mytext" placeholder="Enter or copy text here"></textarea>
            </div>
            <div class="form-group">
                <input type="file" >
            </div>
            <div class="form-group">
            <textarea class="textarea" rows="5"  id="result" placeholder="your result goes here"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
      </form>
  </div>
  <div role="tabpanel" class="tab-pane" id="about">
      This is a software to convert from text to unicode
  </div>
</div>
</body>
</html>